* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  border: none;
  border-radius: 0;
  padding: 0 6px;
  margin: 0;
  min-height: 32px;
}

window#waybar {
  background-color: #1c1c1c;
  color: #c6c6c6;
  min-height: 32px; /* updated height */
}

#workspaces button {
  color: #CCCCCC;
  background: transparent;
  padding: 0 4px;
  margin: 0 -10px;
}

#workspaces button.active {
  color: #FFFFFF;
}
#clock{
  color: #FFFFFF;
}
#pulseaudio{
  color: #FFFFFF;
}
#custom-swaync {
  color: #FFFFFF;
}
#custom-battery.low {
    color: #ff5555;  /* red */
}

#custom-battery.normal {
    color: #ffffff;  /* default/white */
}
#custom-arch {
  color: #FFFFFF;
  padding: 0 10px;
  margin-right: 4px;
  font-size: 16px;
}
